<p id="notice"><%= notice %></p>

<h1>Index o'Pints</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pints.each do |pint| %>
      <tr>
        <td><%= image_tag pint.image.url(:medium) %></td>
        <td><%= pint.description %></td>
        <td><%= pint.user.email if pint.user %></td>
        <td><%= link_to 'Show', pint %></td>
        <% if pint.user == current_user %>
          <td><%= link_to 'Edit', edit_pint_path(pint) %></td>
          <td><%= link_to 'Destroy', pint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Pint', new_pint_path %>
<% end %>
